.cp {
    cursor: pointer;
    user-select: none;
}

#Login, #Reg {
    margin-top: 10%;
}

.custom-input input {
    width: 300px;
}

.del-space {
    margin-right: -3px;
}

a.profile-link {
    text-decoration: none;
    color: #7b8ab8;
}

.profile-link::before {
    content: "@";
}

form#addpost {
    display: none;
    top: 7%;
    left: 55%;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    z-index: 9999;
    background:  #e4ebf5;
    box-shadow: 2px 2px 6px rgb(55 94 148 / 40%);
}

.sendcomment {
    background-color: #e4ebf5;
    padding: 20px;
}

.fwb {
    font-weight: bold;
}

.lib-span span {
    margin-right: 25px;
    font-size: 18px;
}

.books-text {
    overflow: hidden;
    height: 100px
}

input.edit-control-year {
    width: 60px;
    height: 20px;
    padding: 10px;
}

input.edit-control-title {
    padding: 10px;
}

.readmode {
    background: #fff;
    font-family: 'Times New Roman';
}

.readmode h1 {
    font-weight: bold;
    color: #000;
}

.readmode span {
    font-size: 24px;
    color: #000;
}